*{
    margin: 0px;
}
body{
    display: flex;
    height: 100vh;
}
.dashboard{
    width: 20vw;
    font-size:larger;
    background: #4d88d0;
    color: white;
    text-align: center;

}
.dashboard>div>div{
    display: flex;
    padding-left: 1rem;
    font-size:larger;
    font-weight: bold;

}
.dashboard>div>div>p{
    padding-left: .5rem;
    padding-top: 1rem;
}
.dashboard-2,
.dashboard-3{
    font-size: medium;
    
}

svg{
    height: 3rem;
    fill: whitesmoke;
}
main{
    width: 80vw;
    background: #c7cfda;
}
nav{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding-bottom: 1rem;
    box-shadow: 5px 5px  5px #8c99ac;
    
}
nav>div{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 30px;
    padding-top:20px
}
.btns{
    display: flex;
    
    gap: 20px;
    
}
input{
    width: 40%;
}