*{
    margin: 0px;
}
body{
    display: flex;
    height: 100vh;
}
.dashboard{
    width: 20vw;
    font-size:larger;
    background: #4d88d0;
    color: white;
   

}

.dashboard>div{
    margin-top: 20px;
}
.dashboard>div>div{
    display: flex;
    padding-left: 1rem;
    height: 2.5rem;
    font-weight: bold;
    
}
.icon{
    height: 2rem;
}
.dashboard-1{
    height: 3rem;
}
.dashboard>div>div>p{
    padding-left: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.dashboard-2,
.dashboard-3{
    font-size: medium;    
}
.dashboard-2>div,
.dashboard-3>div{
    font-size: medium;
    display: flex;
    align-items: center;
    
}

svg{
    
    fill: whitesmoke;
    height: 3rem;
}
main{
    width: 80vw;
    background: #c7cfda;
}
nav{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding-bottom: 1rem;
    box-shadow: 5px 5px  5px #8c99ac;
    
}
nav>div{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 30px;
    padding-top:20px
}
.btns{
    display: flex;
    
    gap: 20px;
    
}
input{
    width: 40%;
    border-radius: 20px;
    border: none;
    background: #c7cfda;
    height: 1.5rem;
}
button{
    color: white;
    background: #3136d2;
    height: 2rem;
    width: 5rem;
    border-radius: 70px; 
    border: none;
}

.main-part{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 70vh;
    margin: 10px;
    margin: 10px;
}
.project{
    grid-column: span 6;
    grid-row: span 8;
}
.projectWrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
   margin: 5px;
    grid-gap: 10px;
}
.projectWrapper>div,
.annoucements>div,
.trending>div{
    background: #ffffff;
    border-radius: 20px;
    padding: 10px;
}
.annoucements{
    grid-row: 6/9;
    grid-column: 7/9;
}